.form {
  border-style: outset;
  border-radius: 5px;
  border-width: 5px;
  border-color: red;
  background-color: rgba(0,0,0, 0.2);
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.form__input {
  max-width: 10rem;
}
.form__hint {
  font-style: italic;
  font-size: 0.8rem;
}
